/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-yellow: #FCCE01;
  --brand-brown: #59443B;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: #fff;
}

.bg-brand-yellow {
  background-color: var(--brand-yellow);
}

.text-brand-yellow {
  color: var(--brand-yellow);
}

.hover\:bg-brand-yellow-dark:hover {
  background-color: #e6b800;
}

.bg-brand-brown {
  background-color: var(--brand-brown);
}

@tailwind base;
@tailwind components;
@tailwind utilities;